body{
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url('http://pic1.win4000.com/wallpaper/6/57ba5cb0925c7.jpg');
}
.main{
	float: right;
	padding: 30px;
	margin-right: 100px;
	margin-top: 80px;
	border-radius: 10px;
	width: 440px;
	height: 470px;
	background-color: rgba(255,255,255,.9);
}

#user{
	padding:0 10px;
	margin-left: 20px;
	width: 300px;
	height: 35px;
}
input{
	border: 1px solid rgb(189,194,204);
	border-radius: 5px;
}
input:focus{
	outline:none;
	border:1px solid red;
}

#phonenum{
	margin-top: 20px;
	padding:0 10px;
	margin-left: 20px;
	width: 300px;
	height: 35px;
}

#password{
	margin-top: 20px;
	padding:0 10px;
	margin-left: 21px;
	width: 300px;
	height: 35px;
}

#code{
	border-radius: 5px;
	margin-top: 20px;
	padding:0 10px;
	margin-left: 20px;
	width: 140px;
	height: 35px;
}
label {
	font-size: 1.1em;
} 
#user-box,
#password-box,
#phonenum-box,
#code-box{
	color: red;
    font-size: 0.8em;
	margin-left: 80px;
}
.box {
	margin-top: 20px;
	float: right;
	margin-right: 40px;
	display: block;
	width: 150px;
	height: 35px;
}
.zhu{
	margin-top: 30px;
	width: 92%;
	height: 50px;
	border-radius: 50px;
	background-color: rgb(189,206,252);
	border:none;
	font-size: 12px;
	color:white;
	font-size: 17px;
	font-weight: bold;
}